<%= stylesheet_link_tag :bootstrap%>

<style>
body {
	color: #71B8FF;
	background: -webkit-radial-gradient(#D3D3D3,  white); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#D3D3D3,  white); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#D3D3D3,  white); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#D3D3D3,  white); /* Standard syntax */
}	

.landing {
	position: absolute;
	height: 800px;
	width: 800px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -400px;
}

.landing h1 {
	margin-top: 25%;
	font-size: 8em;
	font-weight: bolder;
	letter-spacing: .1em;
}

.landing h3 {
	color: white;
	font-size: 3em;
	margin-top: 1%;
	margin-bottom: 15%; 
}

.landing a {
	border: 1px solid #71B8FF;
	border-radius: 4px;
	padding: 20px 40px;
	font-size: 2em;
	color: #71B8FF;
	text-decoration: none;
}

.landing a:hover {
	background: #71B8FF;
	color: white; 
}

@media (max-width: 650px) {
  .landing h1 {
  	font-size: 4.75em;
  }
}
</style>


<div class="container">
<div class="landing text-center">
	<h1>WatrCoolr</h1>
	<h3>Ephemeral Group Chat</h3>
	<%= link_to "Login", controller: "devise/sessions", action: "new", class: "article"%>
	<%= link_to "Sign Up", controller: "devise/registrations", action: "new", class: "article" %>
</div>
</div>