<%= render "nav" %>

<div class="container">
    <div class="row">
        <div class="rooms col-md-3">
            <div class="title row">
              <div class="col-md-12">
                <h3>Rooms</h3>
              </div>
            </div>
            <div class="room row">
              <div class="col-md-12">
                <h4>Group Title</h4>
                <p># Members</p>
                <p>Last Activity</p>
              </div>
            </div>
        </div><!-- /.rooms -->
        <div class="feed col-md-6">
            <div class="title row">
                <div class="col-md-12">
                    <h3>Feed</h3>
                </div>
            </div>
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
            <div class="feed-item row">
                <div class="col-md-12">
                    <h3>Group Title</h3>
                    <span class="date">5/3/14</span>
                    <hr>
                    <p><span class="user">@Batman</span> said <span class="message">@Joker is a noob.</span></p>
                </div>
            </div><!-- /.feed-item -->
        </div><!-- /.feed -->
        <div class="alerts col-md-3">
            <div class="title row">
                <div class="col-md-12">
                    <h3>Alerts</h3>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
            <div class="action row">
                <div class="col-md-12">
                  <h4>Group Title</h4>
                  <p>Action Required</p>
                </div>
            </div>
        </div><!-- /.alerts -->
    </div><!-- /.row -->
</div><!-- /.container -->
