<%= render "nav" %>

<div class="container">
	<div class="row">
		<div class="chatroom col-md-9">
			<div class="row">
				<div class="chat-display col-md-12">
				</div>
			</div><!-- /.row -->
			<div class="row">
				<div class="chat-text col-md-12">
					<div class="row">
						<div class="col-md-10">
							<input class="form-control" id="chat-field" type="text">
						</div>
						<div class="col-md-2">
							<button id="submit-btn" type="btn btn-default">
							<span>Submit</span>
						</button>
						</div>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /chatroom -->

		<div class="active-users col-md-3">
			<div class="row">
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
				<div class="user col-md-12">
					<h4>User Name</h4>
					<p>Status</p>
				</div>
			</div>
		</div><!-- /active-users -->
	</div>
</div>


