<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<h2>Create a Tribunal</h2>
			<hr />
			<%= form_for(@tribunal, remote: true, url: '/tribunals', html: { :class => ""}) do |f| %>


			<% end %>
		</div>
	</div>
</div>