<div class="room" id="room-<%= @room.id %>">
  <!-- Contains all past messages -->
  <div id="message-box">
    
  </div>

  <!-- Box to input messages -->
  <div id="input-box">
    <%= form_for @text_message, url: '/message/create' do |f| %>
      <%= f.text_field :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>