/* General */
html, body { height: 100%; }

body {
  padding-top: 75px;
}

/*============
  Navigation
============*/
.navbar-brand, .navbar a {
  color: #71B8FF !important;
}

/*=============
	Room
=============*/
.watrcoolr h1 {
  display: inline-block;
}

#messages {
  /*width: 80%;*/
  height: 500px;
  border: 1px solid black;
  overflow-y: auto;
  /*margin-left: 10%;*/
}

.chat-msg {
}

.user-msg {
  font-weight: bold;
}


#input-box {
  /*width: 80%;*/
  /*height: 100x;*/
  /*margin-left: 10%;*/
}

#input-content {
  /*width: 70%;*/
}

#input-submit {
  /*width: 25%;*/
}

.current-users {
  border: 1px solid black;
}

/*==========
  Devise
===========*/
.sign-in, .sign-up, .edit-user {
  padding-bottom: 15px; 
  border-radius: 3px;
  border: 2px solid #71B8FF;
  box-shadow: 1px 1px 2px black;
  position: absolute;
  top: 50%;
  left: 50%;
}


.sign-in {
  height: 310px;
  width: 300px;
  margin-top: -155px;
  margin-left: -150px;
}

.sign-up {
  height: 460px;
  width: 250px;
  margin-top: -230px;
  margin-left: -125px;
}

.edit-user {
  padding-left: 5px;
  height: 500px;
  width: 250px;
  margin-top: -250px;
  margin-left: -125px;
}
